.DS_Store
data/cnews/cnews.test.txt
data/cnews/cnews.train.txt
data/cnews/cnews.train_vocab.txt
data/cnews/cnews.val.txt
data/cnews/cnews.vocab.txt
data/thucnews
__pycache__
cnn_keras.py
.idea
*.pyc
checkpoints
tensorboard
.vscode
write.json